{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/Header.css' %}">
{% endblock css %}

{% block navbar %}
    <div class='functional_header py-1 header'>
        <div class='container'>
            <div class='row pt-2 pb-2 px-sm-0 px-2 align-middle'>
                <div class='col-sm-6 col-7 my-auto text-start d-flex'>
                    <div>
                        <img src="{% static '/img/emblem_white.png' %}" alt="Ind Emblem"/>
                    </div>
                    <span class='ms-2 my-auto'>Ministry of Health and Family Welfare</span>
                </div>
                <div class='col-sm-6 col-5 my-auto'>
                    <div class='row'>
                        <div class='col-lg-9 col-sm-6 col-12 text-right pe-md-0 my-auto'>
                            FAQ | <i class="bi bi-telephone-fill" class="ml-1"></i> 1075 | English
                        </div>
                        <div class='col-lg-3 col-sm-6 d-none d-sm-block pl-1 my-auto'>
                                | 
                            <button class='btn btn-warning ml-2 px-2 py-1'>A+</button>
                            <button class='btn btn-warning ml-2 px-2 py-1'>A</button>
                            <button class='btn btn-warning ml-2 px-2 py-1'>A-</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class='main_header py-1 header'>
        <div class='container'>
            <div class='row my-2 px-sm-0 px-2'>
                <div class='col-md-6 col-12'>
                    <img src="{% static '/img/covid19logo.jpg' %}" alt="Covin-Logo"/>
                </div>
                <div class='col-md-6 col-12 mt-md-0 mb-md-0 mt-3 mb-1 text-right'>
                    {% if user.is_authenticated %}
                        <a class="btn bg-light border text-dark {% block VerificationActive %}{% endblock VerificationActive %}" href="{% url 'verification' %}">
                            Vaccine User Verification
                            {% block VerificationCurrent %}{% endblock VerificationCurrent %}
                        </a>
                        <a class="btn bg-light border ml-3 px-3 text-dark {% block ProfileActive %}{% endblock ProfileActive %}" href="{% url 'profile' %}">
                            {{ user.username }}
                            {% block ProfileCurrent %}{% endblock ProfileCurrent %}
                        </a>
                        <a class="btn bg-danger text-white ml-3 px-3" href="{% url 'signout' %}">
                            Logout
                        </a>
                    {% else %}
                        <a class="btn bg-light border text-dark {% block SignInActive %}{% endblock SignInActive %}" href="{% url 'signin' %}">
                            Sign In
                            {% block SignInCurrent %}{% endblock SignInCurrent %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock navbar %}