.header {
    background: #fff;
}
.main_header{
    box-shadow: #ccc 1px 2px 1px 0px;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.main_header img{
    height: 35px;
}
.main_header .active {
    background: #001f60 !important;
    border-color: #002270 !important;
    color: #fff !important;
}
.main_header .active:hover {
    background: #002880 !important;
    border-color: #001f60 !important;
    color: #fff !important;
}
.functional_header{
    background-color: #001f60;
    color: white;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.functional_header img{
    height: 25px;
}
.functional_header div {
    font-size: 10px;
}
.functional_header button {
    font-size: 10px;
}
/* .functional_header button{
    background: #011237;
    color: #fff;
    border: 1px solid #000;
}
.functional_header button:hover{
    background: #011237;
    color: #fff;
    border: 1px solid #000;
} */